        /* 禁止选择文本 */
body {
    -webkit-user-select: none; /* Safari 和 Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* 标准语法 */
    cursor: default; /* 鼠标指针样式设置为默认，以防止出现选择光标 */
}
/* 地图容器的样式 */
#map-container {
    position: absolute;
    top: 13%;
    right: 0;
    width: 100%;
    height: 83%;
    
   
    z-index:0;
    }

.external-container{
    position: absolute;  
    width: 100%;
    height: 13%;
    z-index: 1;
    background-color: #f8ebd6;
    /* #f8ebd6; */
    border-bottom: 2px solid #1a73e8; /* 添加上边框 */

    }


       
/* 图片按钮的样式 */
.image-button1 {
    display: flex;
    position: absolute;
    top: 10%;
    right: 30px;
    cursor: pointer;
    z-index: 1;
    width: 25px;
    }
.image-button2 {
        display: flex;
        position: absolute;
        top: 10px;
        right:10px;
        cursor: pointer;
        z-index: 1;
        width: 25px;

        }
/* 文字的样式 */
.text {
    position: absolute;
    top: 0px;
    left: 20px;
    color: #333;
    font-size: 16px;
            
    display: none;
    }

        

/* 选项卡按钮的样式 */
.tab-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    top :50%;
    margin-right: 0px;
    z-index: 1;
    }

/* 选项卡内容的样式 */
.tab-content {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    }
       
        
        
        
.category-ss{
   font-size: small;
   display:flex;
}
#logo{
    z-index: 1000;
}


.category-container {
    position: absolute;
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #638889;
    padding: 30px;
    top: 13%;  /* 使用 top 属性来调整垂直位置 */
    
    font-size: 15pt;
    overflow: auto;
    max-height: 77%;
    min-height: 77%;
    z-index: 1;
}
.category-container::-webkit-scrollbar {
    width: 0.5em; /* 宽度设置为0.5em */
}

.category-container::-webkit-scrollbar-track {
    background-color: transparent; /* 轨道背景色设置为透明 */
}

.category-container::-webkit-scrollbar-thumb {
    background-color: #638889; /* 滚动条颜色 */
    border-radius: 20px; /* 滚动条的圆角 */
}
.category-sub{
    z-index: 4;
    flex-shrink: 0; /* 设置按钮不随父容器尺寸变化而收缩 */
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.subcategory-container{
    position: relative;
    flex-direction: column;
    align-items: left;
    display:flex;
    padding: 0px;
    margin-bottom: 5px; /* 添加一些底部间距，使得标签之间有空白 */
    background-color: #9DBC98;
    flex-shrink: 0; /* 设置按钮不随父容器尺寸变化而收缩 */
    z-index:4;
    transition: width 0.5s; /* 添加过渡动画以平滑显示/隐藏 */
    font-size: 12pt;
}
.s-container{
    position: relative;
    flex-direction: column;
    align-items: left;
    display:flex;
    padding: 0px;
    margin-bottom: 5px; /* 添加一些底部间距，使得标签之间有空白 */
    background-color: #F9EFDB;
    flex-shrink: 0; /* 设置按钮不随父容器尺寸变化而收缩 */
    z-index:4;
    transition: width 0.5s; /* 添加过渡动画以平滑显示/隐藏 */
    font-size: 14pt;
}
.ss-container{
    position: relative;
    flex-direction: column;
    align-items: left;
    display:flex;
    padding: 10px;
    margin-bottom: 5px; /* 添加一些底部间距，使得标签之间有空白 */
    background-color: #F9EFDB;
    flex-shrink: 0; /* 设置按钮不随父容器尺寸变化而收缩 */
    z-index:4;
    transition: width 0.5s; /* 添加过渡动画以平滑显示/隐藏 */
    font-size: 14pt;
}

  
.toggle-icon {
    position: absolute;
    top: 50%; /* 将图标垂直居中 */
    left: 20%; /* 放置在右侧 */
    transform: translateY(-50%); /* 使其垂直居中 */
    width: 50px;
    height: 50px;
    background-image: url('/media/animal_icon/rhino.png');
    background-size: cover;
    cursor: pointer;
    z-index: -10; /* 设置一个较高的 z-index，以便位于 .category-container 之上 */
    transition: left 0.5s; /* 添加过渡动画以平滑移动 */
    /* background: #fff; */
    /* border: 0; */
    box-shadow: 0 1px 2px rgba(60,64,67,0.3), 0 2px 6px 2px rgba(60,64,67,0.15);
    width: 23px ;
    height: 48px;
    cursor: pointer;
    border-left: 1px solid #dadce0;
    border-radius: 0 8px 8px 0;
    background: #fff 7px center/7px 10px no-repeat;
   


}
.toggle-icon::before {
    content: ''; /* 为伪元素添加内容 */
    position: absolute;
    top: 50%; /* 垂直居中定位 */
    left: 3px; /* 根据需要调整水平位置 */
    transform: translateY(-50%); /* 垂直方向居中 */
    width: 0;
    height: 0;
    border-top: 8px solid transparent; /* 创建三角形形状 */
    border-bottom: 8px solid transparent; /* 创建三角形形状 */
    border-right: 13px solid black; /* 创建三角形形状并设置颜色 */
    transition: transform 0.3s ease; /* 添加过渡效果以平滑切换 */
}

/* 当信息栏展开时，旋转三角形图标 */
.toggle-icon.expanded::before {
    transform: rotate(180deg);
    top: 35%; /* 垂直居中定位 */

}


.category-container.hidden .toggle-icon {
    left: 90%; /* 移至页面最右侧 */
}

    /* 单个分类按钮样式 */
    .category-button {
        background-color: #dff39d;
        border: none;
        padding-left:20px;
        margin: 2px;
        font-size: 10pt;
        /* cursor: pointer; */
        z-index: 4;
    }
    .category-button1 {
        background-color: #dff39d;
        border: none;
        /* padding: 10px 20px; */
        margin: 2px;
        font-size: 10pt;
        /* cursor: pointer; */
        z-index: 4;
    }

    /* 选中按钮样式 */
    .selected {
        background-color: #EBD9B4;
        color: #fff;
        z-index: 4;
    }

/* 时间轴 */
   
.timeline-container {
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    right: 0;
    /* background-image: url('/media/age.png'); */
    /* background-size: cover; */
    background-position: center;
    opacity: 1;
    height: 13%;
    background-color: #EBD9B4;
    border-top: 2px solid #1a73e8; /* 添加上边框 */
    
    
}

#slider {
    position: absolute;
    right:5%;
    width: 88%; 
    top: 0%;
    z-index: 99;
    color: #ffffff; 
    background-color: #333333; 
  }
  /*
  #slider {
    position: absolute;
    right:5%;
    top: 10%;
    appearance: none;
    width: 90%; 
    height: 10px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7;
    transition: opacity .2s; 

    
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px; 
        height: 25px; 
        background: #4CAF50; 
        cursor: pointer; 
    }

    
    &:hover {
        opacity: 1; 
    }
    &::-webkit-slider-runnable-track {
        background: #c2a84d; 
    }

    &::-moz-range-progress {
        background-color: red; 
    }

    &::-ms-fill-lower {
        background-color: blue; 
    }

}*/

  .timeline-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10.25%;
}
.timeline-text-container {
    position:absolute;
    display:flex;
    justify-content: space-between;
    width: 88%;
    right: 5%;
    top: 18%;
    margin: 0 auto;
}

.timeline-item {
    width: 10%;
   

}
.timeline-text {
    /* position: absolute; */
    text-align: center; /* 居中文本 */
    font-size: 16px;
    /* font-weight: bold; 设置文字加粗 */
    color:rgb(0, 0, 0);
}

.separator {
    text-align: left; /* 文本向左对齐 */
}




.button-container{
    position: absolute;
    bottom:30%;
    z-index: 5;
    width: 95%;
    left: 5%;
    height: fit-content;
    z-index:4 ;
    
}

.timeline-button:hover {
    background-color: #f70000;
}
/* .timeline-text-container{
    position: absolute;
    bottom: 0%;
    z-index: 5;
    width: 100%;
    right:0%;
    background-color: #c7f00e;
    z-index:4 ;
    height:15%;
} */



.asia-button {
    display: flex;
        background-color: #dff39d;
        border: none;
        padding: 0px 40px;
        margin: 2px;
        font-size: 8pt;
        /* cursor: pointer; */
        z-index: 4;
        width: auto;
    }

    .info-image {
        width: 200px;
        height: auto;
        display: block; /* 使图像变为块级元素，可以使用margin: 0 auto;实现水平居中 */
        margin: 0 auto; /* 通过设置左右外边距为auto，实现水平居中 */
        
    }
    .info-header {
        display: flex; /* Use flexbox for layout */
        align-items: center; /* Center items vertically */
    }
    
    .info-icon {
        width: 30px; /* Set the width of the icon */
        margin-right: 10px; /* Add spacing between icon and text */
        vertical-align: middle;
    }
   
    .info-window {
        width: 400px;
        height: 200px;
        text-align: left; /* 将文本内容水平居中 */
        text-indent: 2em;
    }

    .info-details{
        font-size: 16px;
    }
    .info-reference{
        font-size: 11px;
        padding-left: 20px;
        text-indent: 0;
    }

    .info-image-content{
        font-size: 12px;
    }
    img[src="media/animal_icon/0_icon.png"] {
        width: 25px; /* 图标宽度 */
        height: 25px; /* 图标高度 */
        /* 你可以添加其他样式，例如旋转、阴影等 */
    }
    img[src="media/animal_icon/1_icon.png"] {
        width: 25px; /* 图标宽度 */
        height: 25px; /* 图标高度 */
        /* 你可以添加其他样式，例如旋转、阴影等 */
    }
    img[src="media/animal_icon/2_icon.png"] {
        width: 25px; /* 图标宽度 */
        height: 25px; /* 图标高度 */
        /* 你可以添加其他样式，例如旋转、阴影等 */
    }
    img[src="media/animal_icon/3_icon.png"] {
        width: 25px; /* 图标宽度 */
        height: 25px; /* 图标高度 */
        /* 你可以添加其他样式，例如旋转、阴影等 */
    }
    img[src="media/animal_icon/4_icon.png"] {
        width: 25px; /* 图标宽度 */
        height: 25px; /* 图标高度 */
        /* 你可以添加其他样式，例如旋转、阴影等 */
    }
    img[src="media/animal_icon/5_icon.png"] {
        width: 25px; /* 图标宽度 */
        height: 25px; /* 图标高度 */
        /* 你可以添加其他样式，例如旋转、阴影等 */
    }
    img[src="media/animal_icon/6_icon.png"] {
        width: 25px; /* 图标宽度 */
        height: 25px; /* 图标高度 */
        /* 你可以添加其他样式，例如旋转、阴影等 */
    }
    img[src="media/animal_icon/7_icon.png"] {
        width: 25px; /* 图标宽度 */
        height: 25px; /* 图标高度 */
        /* 你可以添加其他样式，例如旋转、阴影等 */
    }

    .custom-cluster {
        background-color: #f44336; /* 聚合标记的背景颜色 */
        /* border-radius: 50%; 圆形聚合标记 */
        /* color: white; 文本颜色 */
        /* font-weight: bold; 加粗文本 */
        /* text-align: center; 居中文本 */
        line-height: 40px; /* 文本垂直居中 */
        width: 40px; /* 宽度 */
        height: 40px; /* 高度 */
    }




    .openWindow{
        position: absolute;
        left:0;
    }
    #age{
        width: 90%;
        z-index: -1;
        height: 50%;
        left: 3%;
        top: 30%;
        position: relative;
    }

    .zoomcontainer {
        position: absolute;
        display: grid;
        width: 4%;
        right: 1%;
        top: 40%;
        z-index: 11;
        background-color: #638889;
        border-radius: 10px; /* 添加圆角 */
    }
    
.vertical-slider-container {
    height: 100px; 
    flex-direction: column-reverse; 
    position: relative;
    width: 4%; 
    
    margin: auto;
    
 }  

.vertical-slider {
    appearance: slider-vertical; 
     /* writing-mode: vertical-rl;  */
    width: 100%;
    height: 100%;
    padding: 0px; 
    position: relative; 
    transform-origin: right top; 
   
} 
.vertical-slider-container {
    height: 100px; 
    display: flex;
    flex-direction: column-reverse; 
    position: relative;
    width: 4%; 
    margin: auto; 
}

/* 自定义滑块样式 */

/* .vertical-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 8px; 
    height: 100%; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    transition: opacity .2s; 
    position: absolute; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
  } */
  
/* 自定义滑块按钮样式 */
/* .vertical-slider::-webkit-slider-thumb { 
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px; 
    background: #4CAF50; 
    cursor: pointer;
} */



#controlImage {
    width: 30px; /* 设置宽度 */
    height: 30px; /* 设置高度 */
    position: relative;
    top: 15%;
    left: 4%;

  }
#openWindow{
    position: absolute;
    top: 20%;
    right:2%;
}
/* CSS Styles */
.image-container {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1000;
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
    border-radius: 5px; /* Add rounded corners */

  }
  
  .modal-content {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
  }
  #banner {
    position: relative;
    height: 100%;
    width: 100%;
    right: 0;
    background-color: #9DBC98;
    z-index: 5;
  }

  .logo-container {
    /* width: 30%; */
    position: absolute;
    z-index: 6;
    display: block;
    top: 10px; /* Adjust this value as needed for vertical positioning */
    /* right: -90px; Adjust this value as needed for horizontal positioning */
    right: 0px;
    /* align-items: baseline; */
}

  .logo-container a img {
    transition: transform 0.2s; /* 添加平滑过渡动画 */
  }
  
  .logo-container a div:hover img {
    transform: scale(1.1); /* 鼠标悬停时放大 */
  }
  
#logo1 {
    width: 120px; /* Adjust this value as needed for the width of the logos */
    height: auto;
    margin-right: 10px; /* Adjust this value as needed for space between logos */

}

#logo2 {
    width:120px; /* Adjust this value as needed for the width of the logos */
    height: auto;
    margin-right: 10px; /* Adjust this value as needed for space between logos */


}

#logo3 {
    width: 100px; /* Adjust this value as needed for the width of the logos */
    height: auto;
    margin-right: 10px; /* Adjust this value as needed for space between logos */

    
}


  #title1 {
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    top: 0%; /* 使标题垂直居中 */
    left: 5%; /* 使标题水平居中 */
    /* transform: translate(-50%, -50%); 将标题水平和垂直居中 */
    font-size: 28px;
    z-index: 7;
    letter-spacing: 5px; /* 设置字间距为2像素 */
  }
  #title2 {
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    top: 45%; /* 使标题垂直居中 */
    left: 25%; /* 使标题水平居中 */
    /* transform: translate(-50%, -50%); 将标题水平和垂直居中 */
    font-size: 20px;
    z-index: 7;
    letter-spacing: 5px; /* 设置字间距为2像素 */
  }
  #languagePane{
    width: 5%;
  }

.line-button{
    position: absolute;
    right: 0%;
    bottom: 13%;
    width:auto;
    flex-direction: column;
    align-items: left;
    display:flex;
    background-color: #b5e88d;
    z-index:4;
    font-size: 12pt;
    align-items:start; /* 垂直居中对齐 */
}
.line-dis{
   
    flex-direction: row;
    
}
#line1 + label {
    color: #000dff; /* 设置文本颜色为红色 */
  }
  #line2 + label {
    color: #ff0000; /* 设置文本颜色为红色 */
  }


 
.gm-style-iw button {
margin:10px
 } 
.info-window-city{
    width: 800px;
    height: 300px;
}
#introwindow {
    position: absolute;
    display: none;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 40px; */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    font-size: medium;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 20px;
  }
 #introtitle{
    text-align: center;
  }
#introintro p {
    text-indent: 2em; 
}
 #x{
    position: absolute;
    right: 0%;
    top: 0%;
  }
  #introcontent{
      margin-left: 40px;
  }



  #qr{
    position: absolute;
    top:15%;
    left:30%;
    width: 500px;
    z-index: 10;
  }
  #guide{
    position: absolute;
    top:15%;
    left:15%;
    width: 800px;
    z-index: 10;
    user-select: none; 
  }
  #qrcontainer{
    display: none;

 
    z-index: 10;
  }#guidecontainer{
    display: block;

 
    z-index: 10;
  }
  #xx{
    position: absolute;
    top:15%;
    left:58%;
    z-index: 11;
  }
  #xx-guanbi{
    position: absolute;
    top:60%;
    left:50%;
    z-index: 11;
  }
  .material-icons{
    right:5%;
    top:75%;
    position: absolute;
  }

#a{
    width: 35%;
    position: absolute;
    top:35%;
    left:2%;
}
#visitcount{
    top:8%;
    right:10%;
    position: absolute;
    z-index: 5;
}
.tab {
    position: absolute;
    bottom: 0;
    right: 20%;
    display: flex;
    align-items: flex-end; /* 将内容放置在底部 */
}
.tab p {
    border-right: 1px solid; /* 为每个链接添加右侧边框 */
    padding-right: 10px; /* 可选：增加一些右侧内边距 */
    margin-bottom: 0px; /* 可选：增加一些底部间距 */
    margin-right: 10px; /* 为每个链接添加右侧间距 */
}
.tab a {
    color: #000000; /* 这里使用黑色作为示例 */
    text-decoration: none; /* 可选：去掉下划线 */
    font-size: 14px;
   

}
.tab p:last-child {
    border-right: none; /* 移除最后一个链接的右侧边框 */
}

#pages{
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 50%;
}
